body {
     text-align: center;
     font-family: Georgia, 'Times New Roman', Times, serif;
     margin: 20px;
     border-radius: 20px;
     padding: 100px;
}

 h1 {
     color:teal;
     background-color: wheat;
 }

 h1:hover {
    color:wheat;
    background-color: teal;
 }
