 
 h1 {
     color:teal;
     padding: 100px;
     background-color: wheat;
     text-align: center;
     font-family: Georgia, 'Times New Roman', Times, serif;
     margin: 20px;
     border-radius: 20px;
 }

 h1:hover {
    color:wheat;
    padding: 100px;
    background-color: teal;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
    border-radius: 20px;
 }